/* Add this CSS to your existing stylesheet */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  color: #333;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  padding: 1em;
  background-color: #5cb85c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type='submit']:hover {
  background-color: #4cae4c;
}

div {
  margin-bottom: 1em;
}

.error {
  color: red;
  font-size: 0.875em;
}

button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

button:hover {
  background-color: #45a049; /* Darker green background */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h1{
  text-align: center;
}
